* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --DarkBlue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);

  --Rate-bckg: hsl(213, 19%, 21%);
}

body {
  background-color: var(--Very-Dark-Blue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Overpass", sans-serif;
}

.question, .thank-you {
  max-width: 25rem;
  background-color: var(--DarkBlue);
  padding: 2rem;
  border-radius: 1.5rem;
  line-height: 1.5rem;
}

.star {
  background-color: var(--Rate-bckg);
  padding: 1rem;
  border-radius: 50%;
}

h1, .thank-you h2 {
  font-size: 1.5rem;
  color: var(--White);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

p {
  color: var(--Medium-Grey);
  font-size: 0.9375rem;
}

.rate-buttons {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
  list-style: none;
}

.rate {
  border-radius: 50%;
  background-color: var(--Rate-bckg);
  color: var(--Medium-Grey);
  padding: 1.2rem;
  border: none;
  width: 3rem;
  height: 3rem;
}

.submit {
  background-color: var(--Orange);
  color: var(--White);
  width: 100%;
  border-radius: 25px;
  padding: 0.875rem 0;
  letter-spacing: 0.2rem;
  font-weight: 700;
  border: none;
}

.submit:hover, .rate:hover{
  cursor: pointer;
  transition: 0.4s;
}

.submit:hover {
  background-color: var(--White);
  color: var(--Orange);
}

.rate:hover {
  background-color: var(--Orange);
  color: var(--White);
}

.rate:focus {
  background-color: var(--Light-Grey);
  color: var(--White);
}

.hidden {
  display: none;
}

.ilustration {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.choice {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  background-color: var(--Rate-bckg);
  color: var(--Orange);
  padding: 0.5rem;
  border-radius: 20px;
  border: none;
  gap:.2rem;
}

.thank-you h2,  .comment {
  text-align: center;
}


